@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

#container h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 2px;
  margin: 1rem 0;
}

#logo {
  border-radius: 50%;
  width: 15%;
  max-width: 80px;
  align-self: center;
}

#container {
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  width: 60vw;
  height: auto;
  justify-content: space-around;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#backgroundContainer {
  width: 50%;
  height: auto;
  overflow: hidden;
  border-radius: 50px 0 0 50px;
}

#backgroundContainer img {
  width: auto;
  height: 100%;
  display: block;
}

#contentContainer {
  text-align: center;
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
  padding: 3rem;
  color: #121012;
}

#contentContainer label,
#contentContainer p {
  font-size: 1rem;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  margin-top: 1rem;
}

a {
  color: #C20F2D;
  text-decoration: none;
  font-weight: 700;
}

#contentContainer input,
button {
  border: 1px solid #ced4da;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  border-radius: 25px;
}

#contentContainer button {
  font-family: 'Assistant', sans-serif;
  font-size: 1.2rem;
  background-color: #E2F22B;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  height: 3rem;
  transition: background-color 0.3s ease;
}

#contentContainer button:hover{
  background-color: #89a1d4;

}

/*@media (min-width: 800px ) {
  #container {
    padding: 0rem;
    flex-direction: row;
    height: 100%;
  }

  #contentContainer,
  #backgroundContainer {
    padding: 1rem;
    width: 50%;
  }

  input,
  button {
    border: 2px solid #ccc;
    border-radius: 25px; 
    padding: 10px;
    outline: none;
    margin: 5px;
    max-width: 250px;
    margin-bottom: 5px;
  }
}*/