.Background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5; /* Color de fondo */
    background-image: url(cardImage); /* No se mostrará, la tarjeta cubrirá esto */
    background-size: cover;
    background-position: center;
  }
  