.dashboard-charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 50% 50% ;
    grid-template-rows: 50% 50%;
    justify-self: center;
    gap: 5%;
    padding: 3%;
    width: 90%;
}

.chart {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.chart h2 {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}