@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

body {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #4157fe;
  width: 100vw;
}

h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 2px;
  margin: 1vmax 0;
}

#logo {
  border-radius: 50%;
  width: 15%;
  max-width: 80px;
  align-self: center;
}

#container {
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  width: 95vh;
  height: auto;
  flex-direction: column;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
}

#backgroundContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50px 0 0 50px;
}

#backgroundContainer img {
  width: auto;
  height: 100%;
  display: block;
}

#contentContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3rem;
  color: #121012;
}

#contentContainer label,
#contentContainer p {
  font-size: 2vmax;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  margin-top: 1vmax;
}

a {
  color: #C20F2D;
  text-decoration: none;
  font-weight: 700;
}

#username,
#password,
#tarjetaCredito {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}


button {
  width: 100%;
  height: 4vmax;
  margin-top: 1vmax;
  border-radius: 25px;
  font-size:  1vmax;
  background-color: #002E83;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  height: 3rem;
}

@media (min-width: 800px ) {
  
  #container {

    padding: 0rem;
    flex-direction: row;
    height: 100%;
  }

  #contentContainer,
  #backgroundContainer {
    padding: 1vmax;
    width: 50%;
  }

  input{
    width: 10vmax;
    height: 1vmax;
    border: 2px solid #ccc; 
    border-radius: 25px;
    padding: 10px; 
    outline: none;
    margin: 5px;
    max-width: 250px;
    margin-bottom: 5px;
  }
}